h1, h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #7fdfff24;
    gap: .4rem;
    padding: .8rem;
    border-radius: .5rem;
}

form > * {
    width: 80%;
    border: none;
    padding: .5rem;
    border-radius: 1rem;
}

ul {
    display: flex;
    flex-direction: column;
    background-color: #7fdfff24;
    padding: 1.5rem;
    border-radius: .5rem;
    align-items: center;
    justify-content: center;
}

li:hover{
    background-color: #7fdfff56;
    cursor: pointer;
    user-select: none;
}