.account-card-wrapper {
  position: relative;
  background: linear-gradient(55deg, #000, var(--card-color) 60%);
  border-radius: 24px;
  padding: 24px;
  min-height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: white;
}

.account-card-wrapper:hover {
  transform: translateY(-8px) scale(1.02);
  box-shadow: 0 20px 30px -10px rgba(0, 0, 0, 0.5);
}

.card-glass-effect {
  position: absolute;
  top: 0%;
  left: -20%;
  width: 140%;
  height: 140%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.115) 0%, transparent 70%);
  pointer-events: none;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.icon-badge {
  background: #0005;
  width: 45px;
  height: 45px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.account-type-label {
  background: #0008;
  border-radius: 12px;
  padding: .5rem;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 0.8;
}

.account-name {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 4px;
}

.balance-display {
  display: flex;
  align-items: baseline;
  gap: 6px;
}

.balance-display .currency {
  font-size: 1.2rem;
  font-weight: 400;
  opacity: 0.9;
}

.balance-display .amount {
  font-size: 2rem;
  font-weight: 700;
  font-family: 'JetBrains Mono', monospace;
}

.progress-info {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  margin-bottom: 6px;
}

.progress-bar-bg {
  background: rgba(255, 255, 255, 0.2);
  height: 8px;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 8px;
}

.progress-bar-fill {
  background: white;
  height: 100%;
  border-radius: 4px;
  transition: width 1s ease-in-out;
}

.progress-bar-fill.danger {
  background: #ff5252;
}

.limit-details {
  display: flex;
  justify-content: space-between;
  font-size: 0.7rem;
  opacity: 0.8;
}

.status-badge {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 0.8rem;
  background: rgba(0, 230, 118, 0.2);
  padding: 4px 10px;
  border-radius: 20px;
  width: fit-content;
}

.dot {
  width: 6px;
  height: 6px;
  background: #00e676;
  border-radius: 50%;
  box-shadow: 0 0 8px #00e676;
}

.rigth {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.buttons-edit-trash {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 12px;
  width: fit-content;

}

