/* En tu ModalPortal.css */
.modal-overlay {
  display: flex;
  position: fixed;
  z-index: 999999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* Un pelín más oscuro para dar más foco al modal */
  backdrop-filter: blur(4px);
  top: 0;
  left: 0;
  justify-content: center; /* Centrado horizontal */
  align-items: center;     /* 🎯 CAMBIO CLAVE: Centrado vertical */
  padding: 20px;
}

.modal-content {
  width: 100%;
  max-width: 500px; /* Controla el ancho máximo del formulario */
  display: flex;
  max-height: 90vh;
  flex-direction: column;
  margin: auto;
  overflow-y: auto;
   overflow-x: hidden; 
  /* Eliminamos borders, paddings y backgrounds de aquí */
}